In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [79]:
algo =  pd.read_csv("result_clean.csv")
algo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1762 entries, 0 to 1761
Data columns (total 6 columns):
id_student      1762 non-null int64
algo_one        1762 non-null float64
algo_two        1762 non-null float64
current_year    1762 non-null int64
study_level     1762 non-null object
status          1762 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 82.7+ KB

In [80]:
bac =  pd.read_csv("student_bac_path.csv")
bac = bac.rename(columns={"student_id": "id_student"})
bac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4569 entries, 0 to 4568
Data columns (total 12 columns):
id_student      4569 non-null int64
gender          4569 non-null object
level           4567 non-null float64
repeated        4568 non-null object
status          4568 non-null object
study_path      4567 non-null object
scholar_year    4567 non-null float64
bac_id          4568 non-null object
bac_year        4569 non-null float64
bac_path        4568 non-null object
bac_feedback    4568 non-null object
bac_avg         4568 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 428.5+ KB

In [81]:
 #merge csv
 merge = bac.merge(algo, how='inner')
 merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3626 entries, 0 to 3625
Data columns (total 16 columns):
id_student      3626 non-null int64
gender          3626 non-null object
level           3626 non-null float64
repeated        3626 non-null object
status          3626 non-null object
study_path      3626 non-null object
scholar_year    3626 non-null float64
bac_id          3626 non-null object
bac_year        3626 non-null float64
bac_path        3626 non-null object
bac_feedback    3626 non-null object
bac_avg         3626 non-null float64
algo_one        3626 non-null float64
algo_two        3626 non-null float64
current_year    3626 non-null int64
study_level     3626 non-null object
dtypes: float64(6), int64(2), object(8)
memory usage: 481.6+ KB

In [82]:
merge.head()

,id_student,gender,level,repeated,status,study_path,scholar_year,bac_id,bac_year,bac_path,bac_feedback,bac_avg,algo_one,algo_two,current_year,study_level
0,14011097290,M,2.0,False,Admis,MGI,2016.0,10/8008081,2010.0,S,Passable,11.38,9.03,7.44,1,MIAS
1,14011097290,M,2.0,False,Admis,MGI,2016.0,10/8008081,2010.0,S,Passable,11.38,9.03,7.44,3,MIAS
2,14011097290,M,2.0,False,Admis,MGI,2016.0,10/8008081,2010.0,S,Passable,11.38,9.03,7.44,1,MGI
3,14011097290,M,1.0,True,Admis,MGI,2015.0,10/8008081,2010.0,S,Passable,11.38,9.03,7.44,1,MIAS
4,14011097290,M,1.0,True,Admis,MGI,2015.0,10/8008081,2010.0,S,Passable,11.38,9.03,7.44,3,MIAS

In [86]:
merge = merge.drop(columns=['id_student','level','repeated', 'repeated', 'scholar_year', 'bac_id','current_year','study_path','study_level','status'])

In [87]:
Y = merge['algo_two']
X = merge.drop(columns=['algo_two'])
X.head()

  gender  bac_year bac_path bac_feedback  bac_avg  algo_one
0      M    2010.0        S     Passable    11.38      9.03
1      M    2010.0        S     Passable    11.38      9.03
2      M    2010.0        S     Passable    11.38      9.03
3      M    2010.0        S     Passable    11.38      9.03
4      M    2010.0        S     Passable    11.38      9.03

In [94]:
#encode data 
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
for i in range(0,6):
    X[:,i] = label.fit_transform(X[:,i])

TypeError: '(slice(None, None, None), 0)' is an invalid key

In [ ]:
X